.intro{
    /* height:100vh; */
}

.intro-title{
    height: 50px;
    overflow: hidden;
}
.intro-title-warpper{
    height:100%;
    animation: move 12s ease-in-out infinite alternate;
}
@keyframes move {
    25%{transform:translateY(-50px)}
    50%{transform:translateY(-100px)}
    /* 75%{transform:translateY(-150px)} */

}
.intro-title-item{
    height: 50px;
    font-size:30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #56b256;
}
.intro-img{
    /* width: 80%;
    height: 80%; */
    /* object-fit: cover; */
    /* position: absolute; */
}
.intro-bg{
   clip-path: polygon(100% 0%, 100% 55%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
   height: 100%;
   width: 100%;
   background-color: #56b256;
   /* position: absolute; */
   top: 0;
   right: 0;
}

.i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
  }

  a:hover{
      transform:scale(1.2);
  }